[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
"factory-boy" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
django = "<2"
Pillow = "*"
barbeque = "*"

[requires]
python_version = "3.6"
